@import "tailwindcss";

body {
  font-family: var(--font-dm-sans), system-ui, sans-serif;
  font-weight: 300;
}

.font-display {
  font-family: var(--font-bebas-neue), sans-serif;
}

.font-mono {
  font-family: var(--font-dm-mono), monospace;
}

.font-sans {
  font-family: var(--font-dm-sans), system-ui, sans-serif;
}
