@tailwind base;
@tailwind components;
@tailwind utilities;

[data-app] {
  font-family: 'Roboto Mono', 'Roboto', 'Segoe UI', sans-serif;
}

body,
html,
#app {
  background-color: transparent;
}

body {
  background-color: #020617;
  color: #e2e8f0;
  font-size: 0.8125rem;
  letter-spacing: 0.01em;
}

[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  background-color: transparent;
}
